# To update these lines, execute
# `bazel run @rules_bazel_integration_test//tools:update_deleted_packages`
build --deleted_packages=examples/full,examples/full/tool_test
query --deleted_packages=examples/full,examples/full/tool_test
